/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 
CUSTOM STYLES
*/
body {
	background: rgb(136,191,232);
	font-family: Helvetica, sans-serif;
}
/* 
HEADER
*/
header {
	border-style: solid;
	border: 44px;
	border-color: black;
}


.logo {
	text-shadow: black 2px 2px 55px;
	color: white;
	text-align: center;
	font-size: 75px;
	padding-top: 5px;
	padding-bottom: 10px;

}
/*
NEWSFEED
*/

.newsfeed {
	clear: left;
	float: right;
	padding-left: 100px;
	padding-right: 100px;
	width: 80%;
	padding: 5px;
	border-radius: 5px;
	opacity: .9;
	background-color: white;
	text-align: left;
	
}
.tweet {
	text-align: left;
}
.username {
	color: rgb(136,191,232);
	text-decoration: none;
}
.username:hover{
	color:black;
	text-decoration: underline;
}
.message {
	font-size: 16px;
	color: rgb(66, 66, 66);
}
.hashtag {
	color: red;
}
.hashtag:hover {
	color:black;
}
.timestamp {
	font-size: 11px;
	color: #828282;
	text-align: right;
}

/*
SIDEBAR
*/

.sidebar{
	float: left;
	width: 15%;
	padding-right: 5px;
	margin: auto;
	border-radius: 5px;
	opacity: .9;
	background-color: white;
	
}
.sidebar img {
	margin-top: 10px;
	border-radius: 5px;
    display: block;
    max-width: 100%;
    margin: auto;
}
.updateButton {
	clear:all;
	margin-top: 5px;
	margin-bottom: 5px;
	min-width: 50%;
	max-width: 100%;
	height: 25px;
	font-size: auto;
/*	text-align: center;*/
}
.updateButton:hover {
	color: rgb(255, 73, 53);
}


/*
FOOTER
*/



.footer{
	clear: left;
	clear: right;
	border-style: solid;
	border-color: black;
    padding-top: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 11px;
	color: white;
	opacity:.9;
}

.madeBy {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	font-weight: 550;
	color: white;
}
.madeBy:hover {
	color:red;
}
.madeFor {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 550;
	font-size: 12px;
	color: white;
}
.madeFor:hover {
	color:red;
}